<table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
        <th class="px-6 py-3">userId</th>
        <th class="px-6 py-3">id</th>
        <th class="px-6 py-3">title</th>
        <th class="px-6 py-3">completed</th>
        </tr>
    </thead>
    <tbody class="text-center text-sm" id="table-body">
        <tr class="bg-white border-b">
            <td class="px-6 py-3">{{ todo.userId }}</td>
            <td class="px-6 py-3">{{ todo.id }}</td>
            <td class="px-6 py-3">{{ todo.title }}</td>
            <td class="px-6 py-3">{{ todo.completed }}</td>
        </tr>
    </tbody>
</table>